i {
  font-style: normal;
}
footer .foot {
  min-width: 1280px;
  height: 330px;
  background-color: #fff;
  border-top: 1px solid #3B3B3B;
}
footer .foot .top {
  padding: 60px 35px 30px 33px;
}
footer .foot .top .left {
  float: left;
  margin-left: -40px;
}
footer .foot .top .left ul {
  float: left;
  width: 208px;
  font-family: microsoft yahei;
  font-weight: 400;
  font-size: 16px;
  color: #3B3B3B;
  list-style: none;
}
footer .foot .top .left ul .t {
  margin-top: 50px;
}
footer .foot .top .left ul li a {
  color: #3b3b3b;
  font-size: 12px;
}
footer .foot .top .left ul li a:hover {
  text-decoration: none;
}
footer .foot .top .right {
  float: right;
}
footer .foot .top .right span p {
  font-size: 12px;
  font-weight: microsoft yahei;
  font-weight: 400;
  color: #3B3B3B;
}
footer .foot .hr {
  width: 1280px;
  height: 1px;
  background-color: #D8D8D8;
  margin-left: 33px;
}
footer .foot .bottom p {
  color: #999999;
  font-size: 12px;
  margin-left: 33px;
  margin-top: 25px;
}
