<div class="list"> 
					<ul>
						<li data-scroll-reveal="enter top">
							<img src="images/542033_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter right after 0.5s">
							<img src="images/559523_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
							<img src="images/559547_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter top over 0.5s and move 200px">
							<img src="images/713504_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 100px">
							<img src="images/713506_00--w_246_h_324.jpg " alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
							<img src="images/513683_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter top over 3s after 0.5s">	  <img src="images/513706_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter left">
							<img src="images/559533_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
					</ul>
					<ul>	
						<li data-scroll-reveal="enter top">
							<img src="images/559538_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter left">
							<img src="images/520910_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter top">
							<img src="images/812002_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter top over 3s after 0.5s">
							<img src="images/812011_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 100px">
							<img src="images/557533_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter top over 0.5s and move 200px">
							<img src="images/559552_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter top over 3s after 0.5s">
							<img src="images/813004_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter right after 0.5s">
							<img src="images/553969_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
					</ul>
					<ul>
						<li data-scroll-reveal="enter top over 3s after 0.5s">
							<img src="images/553971_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter left">
							<img src="images/520911_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter right after 0.5s">
							<img src="images/520924_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter top">
							<img src="images/557532_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 100px">
							<img src="images/812013_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter top over 0.5s and move 200px">
							<img src="images/553978_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
							<img src="images/551905_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter right after 0.5s">
							<img src="images/551905_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
					</ul>
					<ul>
						<li data-scroll-reveal="enter left">
							<img src="images/812002_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter top over 3s after 0.5s">
							<img src="images/553975_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 100px">
							<img src="images/559556_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter top over 0.5s and move 200px">
							<img src="images/812012_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter top over 3s after 0.5s">
							<img src="images/557535_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter left">
							<img src="images/812016_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter top over 3s after 0.5s">
							<img src="images/525507_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 100px">
							<img src="images/813005_00--w_246_h_324.jpg" alt="">
							<span>
								<p class="p1">AIJEK</p>
								<p class="p2">蕾丝相拼无袖连衣裙</p>
								<p class="p3">￥790 <del>￥1580</del></p>
							</span>
						</li>
					</ul>
			</div>