
<div class="list"> 
	<ul>
					<li data-scroll-reveal="enter top">
						<img src="images/524212_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter right after 0.5s">
						<img src="images/548085_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
						<img src="images/512387_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter top over 0.5s and move 200px">
						<img src="images/536227_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter bottom over 1s and move 100px">
						<img src="images/536232_00--w_246_h_324.jpg " alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
						<img src="images/228057_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter top over 3s after 0.5s">	  <img src="images/514220_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter left">
						<img src="images/548094_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
	</ul>
	<ul>
		<li data-scroll-reveal="enter top">
			<img src="images/514212_00--w_246_h_324.jpg" alt="">
			<span>
			<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter left">
						<img src="images/536237_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter top">
						<img src="images/530135_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter top over 3s after 0.5s">
						<img src="images/530145_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter bottom over 1s and move 100px">
						<img src="images/548098_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter top over 0.5s and move 200px">
						<img src="images/518196_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter top over 3s after 0.5s">
						<img src="images/517332_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter right after 0.5s">
						<img src="images/536239_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
	</ul>
	<ul>
					<li data-scroll-reveal="enter top over 3s after 0.5s">
						<img src="images/550128_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter left">
						<img src="images/552175_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter right after 0.5s">
						<img src="images/549059_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter top">
						<img src="images/519015_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter bottom over 1s and move 100px">
						<img src="images/518195_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter top over 0.5s and move 200px">
						<img src="images/524197_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter bottom over 1s and move 300px after 0.3s">
						<img src="images/514215_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter right after 0.5s">
						<img src="images/552178_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
	</ul>
	<ul>
					<li data-scroll-reveal="enter left">
						<img src="images/552192_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter top over 3s after 0.5s">
						<img src="images/548106_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter bottom over 1s and move 100px">
						<img src="images/548108_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter top over 0.5s and move 200px">
						<img src="images/524183_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter top over 3s after 0.5s">
						<img src="images/512392_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter left">
						<img src="images/548109_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter top over 3s after 0.5s">
						<img src="images/552198_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
					<li data-scroll-reveal="enter bottom over 1s and move 100px">
						<img src="images/552199_00--w_246_h_324.jpg" alt="">
						<span>
							<p class="p1">ME&CITY</p>
							<p class="p2">男轻洗水五袋长裤</p>
							<p class="p3">￥179 <del>￥299</del></p>
						</span>
					</li>
	</ul>
</div>
